* {
    margin: 0 auto;
    padding: 0;
}

video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

.container {
    background-color: #2d2d2d;
    border: 1px solid lightgrey;
    width: 30%;
    padding: 30px;
    opacity: .7;
    margin-top: 20%;
    margin: auto;
    max-width: 580px;
}

div>h1 {
    margin: auto;
    color: white;
}
